extends layout.pug

block body
    a(href='/') Back
    form(method='POST' action='feed')
        label(name='feed-name' for='name') Feed
        input(type='text' id='name')

        br

        label(name='feed-url' for='url') URL
        input(type='text' id='url')

        br

        button(type='submit') Add Feed
