extends layout.pug

block body
    a(href='/feed-form') Add form
    h1 Welcome to the feed-list

    ul
        each feedData in context
            a(href = feedData.href)
                li= feedData.name
